<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="reserva">
      <h2 data-cy="reservaDetailsHeading"><span jhiTranslate="proyectApp.reserva.detail.title">Reserva</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ reserva.id }}</span>
        </dd>
        <dt><span jhiTranslate="proyectApp.reserva.fechaInicio">Fecha Inicio</span></dt>
        <dd>
          <span>{{ reserva.fechaInicio | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="proyectApp.reserva.fechaFin">Fecha Fin</span></dt>
        <dd>
          <span>{{ reserva.fechaFin | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="proyectApp.reserva.tipoPago">Tipo Pago</span></dt>
        <dd>
          <span>{{ reserva.tipoPago }}</span>
        </dd>
        <dt><span jhiTranslate="proyectApp.reserva.total">Total</span></dt>
        <dd>
          <span>{{ reserva.total }}</span>
        </dd>
        <dt><span jhiTranslate="proyectApp.reserva.cliente">Cliente</span></dt>
        <dd>
          <div *ngIf="reserva.cliente">
            <a [routerLink]="['/cliente', reserva.cliente?.id, 'view']">{{ reserva.cliente?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="proyectApp.reserva.instalacion">Instalacion</span></dt>
        <dd>
          <div *ngIf="reserva.instalacion">
            <a [routerLink]="['/instalacion', reserva.instalacion?.id, 'view']">{{ reserva.instalacion?.id }}</a>
          </div>
        </dd>
        <!-- <dt><span jhiTranslate="proyectApp.reserva.materiales">materiales</span></dt>
        <dd>
          <div *ngIf="reserva.materiales">
            <div *ngFor="let material of reserva.materiales">
              <a [routerLink]="['/material', material?.id, 'view']">{{material.nombre}}</a>
            </div>
          </div>
        </dd> -->
        <dt><span jhiTranslate="proyectApp.reserva.registrosId">registros</span></dt>
        <dd>
          <div *ngIf="reserva.registrosId">
            <div *ngFor="let registro of reserva.registrosId">
              <a [routerLink]="['/registro-material-utilizado', registro, 'view']">{{ registro }}</a>
            </div>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/reserva', reserva.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
