<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-reserva-heading" data-cy="ReservaCreateUpdateHeading" jhiTranslate="proyectApp.reserva.home.createOrEditLabel">
        Create or edit a Reserva
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" hidden>
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.reserva.fechaInicio" for="field_fechaInicio">Fecha Inicio</label>
          <div class="d-flex">
            <input
              id="field_fechaInicio"
              data-cy="fechaInicio"
              class="form-control"
              name="fechaInicio"
              formControlName="fechaInicio"
              ngbDatepicker
              #d1="ngbDatepicker"
              placeholder="YYYY-MM-DD"
              [minDate]="ngbCurrentDateStruct"
              (dateSelect)="setMinReserveDate($event)"
              required
            />

            <button type="button" class="btn btn-secondary" (click)="d1.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label">Hora Inicio</label>
          <select
            id="horaInicio"
            data-cy="horaInicio"
            class="form-control"
            name="horaInicio"
            formControlName="horaInicio"
            (change)="getStartHourSelected($event)"
            required
            [disabled]="hourStartEnable"
          >
            <option [value]="null"></option>
            <option *ngFor="let hour of hoursArray" [value]="hour">
              {{ hour + ':00' }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.reserva.fechaFin" for="field_fechaFin">Fecha Fin</label>
          <div class="d-flex">
            <input
              id="field_fechaFin"
              data-cy="fechaFin"
              class="form-control"
              name="fechaFin"
              formControlName="fechaFin"
              ngbDatepicker
              #d2="ngbDatepicker"
              placeholder="YYYY-MM-DD"
              [minDate]="startDayReserve! === undefined ? ngbCurrentDateStruct : startDayReserve"
              (dateSelect)="setEndReserveDate($event)"
              required
              [disabled]="dateEndEnabble"
            />

            <button type="button" class="btn btn-secondary" (click)="d2.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label">Hora Fin</label>
          <select
            id="horaFin"
            data-cy="horaFin"
            class="form-control"
            name="horaFin"
            formControlName="horaFin"
            (change)="getEndHourSelected($event)"
            required
            [disabled]="hourEndEnable"
          >
            <option [value]="null"></option>
            <option *ngFor="let hour of hoursEndReserve" [value]="hour">
              {{ hour + ':00' }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.reserva.tipoPago" for="field_tipoPago">Tipo Pago</label>
          <!-- <input type="text" class="form-control" name="tipoPago" id="field_tipoPago" data-cy="tipoPago" formControlName="tipoPago" /> -->
          <select class="form-control" name="tipoPago" id="field_tipoPago" data-cy="tipoPago" formControlName="tipoPago">
            <option value="Tarjeta">Tarjeta</option>
            <option value="Metálico">Metálico</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.reserva.cliente" for="field_cliente">Cliente</label>
          <select
            class="form-control"
            id="field_cliente"
            data-cy="cliente"
            name="cliente"
            formControlName="cliente"
            (change)="getPenalizaciones(this.editForm.get(['cliente'])!.value.id)"
            (ngModelChange)="getSelectedOjbCliente($event)"
            required
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clienteOption.id === editForm.get('cliente')!.value?.id ? editForm.get('cliente')!.value : clienteOption"
              *ngFor="let clienteOption of clientesSharedCollection; trackBy: trackClienteById"
            >
              {{ clienteOption.nombre }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.reserva.instalacion" for="field_instalacion">Instalacion</label>
          <select
            class="form-control"
            id="field_instalacion"
            data-cy="instalacion"
            name="instalacion"
            formControlName="instalacion"
            (ngModelChange)="getSelectedOjbInstalation($event)"
            required
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                instalacionOption.id === editForm.get('instalacion')!.value?.id ? editForm.get('instalacion')!.value : instalacionOption
              "
              *ngFor="let instalacionOption of instalacionsSharedCollection; trackBy: trackInstalacionById"
            >
              {{ instalacionOption.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label [hidden]="hasId" class="form-control-label" jhiTranslate="proyectApp.reserva.addMateriales" for="field_material"
          ><p>si</p></label
        >
        <label [hidden]="!hasId" class="form-control-label" jhiTranslate="proyectApp.reserva.editMateriales" for="field_material"
          ><p>dsadas</p></label
        >
        <input type="checkbox" [checked]="checkbox" (click)="toggle($event)" />
      </div>

      <div formArrayName="materiales">
        <div *ngFor="let material of getControls(); let i = index">
          <div [formGroupName]="i">
            <input formControlName="id" type="hidden" class="form-control mb-4" [hidden] />
            <input formControlName="nombre" type="text" class="form-control mb-4" readonly />
            <input formControlName="cantidadReservada" type="number" class="form-control mb-4" />
            <!-- <small
              class="form-text text-danger"
              *ngIf="getControls().at(i)?.errors?.maxlength"
              jhiTranslate="register.messages.validate.login.maxlength"
            >
              Your username cannot be longer than 50 characters.
            </small> -->
            <input formControlName="cantidadDisponible" type="hidden" class="form-control mb-4" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" jhiTranslate="proyectApp.reserva.total" for="field_total">Total</label>
        <input [ngModel]="calculateTotalPrice()" class="form-control" name="total" formControlName="total" data-cy="total" />
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          (click)="parseTimeReserve()"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
    <br />
  </div>
</div>
