<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-penalizacion-heading"
        data-cy="PenalizacionCreateUpdateHeading"
        jhiTranslate="proyectApp.penalizacion.home.createOrEditLabel"
      >
        Create or edit a Penalizacion
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.penalizacion.motivo" for="field_motivo">Motivo</label>
          <input type="text" class="form-control" name="motivo" id="field_motivo" data-cy="motivo" formControlName="motivo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.penalizacion.totalAPagar" for="field_totalAPagar">Total A Pagar</label>
          <input
            type="number"
            class="form-control"
            name="totalAPagar"
            id="field_totalAPagar"
            data-cy="totalAPagar"
            formControlName="totalAPagar"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.penalizacion.cliente" for="field_cliente">Cliente</label>
          <select class="form-control" id="field_cliente" data-cy="cliente" name="cliente" formControlName="cliente">
            <option *ngIf="this.clienteId != null" [ngValue]="setCliente()">{{ setCliente() }}</option>
            <option *ngIf="this.clienteId == null" [ngValue]="null"></option>
            <option
              [ngValue]="clienteOption.id === editForm.get('cliente')!.value?.id ? editForm.get('cliente')!.value : clienteOption"
              *ngFor="let clienteOption of clientesSharedCollection; trackBy: trackClienteById"
            >
              {{ clienteOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
