<div class="container-fluid p-0">
  <!-- <div class="row"> -->
  <div class="d-flex">
    <router-outlet name="navbar"></router-outlet>

    <div class="container-fluid">
      <div class="container-fluid p-0">
        <div class="d-flex flex-column">
          <div class="card container-fluid my-4 p-3">
            <router-outlet></router-outlet>
          </div>
          <jhi-footer></jhi-footer>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
