<div>
  <h2 id="page-heading" data-cy="ReservaHeading">
    <span jhiTranslate="proyectApp.reserva.home.title">Reservas</span>
    <div class="d-flex align-items-center justify-content-between">
      <div class="align-self-start">
        <div class="input-group-text">
          <input
            type="text"
            placeholder="Introduce un modelo..."
            class="form-control py-2 border-right-0 border"
            name="modelo"
            [(ngModel)]="filtroBusqueda"
            (ngModelChange)="searchByFilter()"
          />
          <!-- <button type="submit">Enviar</button> -->
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="proyectApp.reserva.home.refreshListLabel">Refresh List</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-reserva"
          [routerLink]="['/reserva/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="proyectApp.reserva.home.createLabel"> Create a new Reserva </span>
        </button>
      </div>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="reservas?.length === 0">
    <span jhiTranslate="proyectApp.reserva.home.notFound">No reservas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="reservas && reservas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fechaInicio">
            <span jhiTranslate="proyectApp.reserva.fechaInicio">Fecha Inicio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fechaFin">
            <span jhiTranslate="proyectApp.reserva.fechaFin">Fecha Fin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipoPago">
            <span jhiTranslate="proyectApp.reserva.tipoPago">Tipo Pago</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="total"><span jhiTranslate="proyectApp.reserva.total">Total</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cliente.id">
            <span jhiTranslate="proyectApp.reserva.cliente">Cliente</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="instalacion.id">
            <span jhiTranslate="proyectApp.reserva.instalacion">Instalacion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="registrosId">
            <span jhiTranslate="proyectApp.reserva.registrosId">RegistrosId</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/reserva', reserva.id, 'view']">{{ reserva.id }}</a>
          </td>
          <td>{{ reserva.fechaInicio | formatMediumDatetime }}</td>
          <td>{{ reserva.fechaFin | formatMediumDatetime }}</td>
          <td>{{ reserva.tipoPago }}</td>
          <td>{{ reserva.total }}€</td>
          <td>
            <div *ngIf="reserva.cliente">
              <a [routerLink]="['/cliente', reserva.cliente?.id, 'view']">{{ reserva.cliente?.nombre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="reserva.instalacion">
              <a [routerLink]="['/instalacion', reserva.instalacion?.id, 'view']">{{ reserva.instalacion?.nombre }}</a>
            </div>
          </td>
          <td *ngIf="reserva.registrosId">
            <div class="d-flex">
              <div *ngFor="let registroId of reserva.registrosId">
                <a [routerLink]="['/registro-material-utilizado', registroId, 'view']"
                  ><p>{{ registroId }}&nbsp;</p></a
                >
              </div>
            </div>
          </td>
          <td *ngIf="!reserva.registrosId">
            <div class="d-flex">
              <a><p></p></a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/reserva', reserva.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/reserva', reserva.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(reserva)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="reservas && reservas.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
