<!--  Inicio de NavBar -->

<body id="body-pd">
  <header class="header" id="header"></header>
  <div class="l-navbar main-menu2" id="nav-bar">
    <nav class="nav">
      <ul class="navbar-nav">
        <ul class="navbar-nav">
          <li>
            <a routerLink="/" class="logo-img">
              <fa-icon icon="tooth" class="icon_color_white"></fa-icon><span class="nav_logo-name"></span>
            </a>
          </li>

          <div
            class="nav_list d-flex flex-column justify-content-between"
            id="navbarResponsive"
            [ngbCollapse]="isNavbarCollapsed"
            [ngSwitch]="account !== null"
          >
            <li *ngSwitchCase="true" ngbDropdown class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link" routerLink="/" (click)="collapseNavbar()" class="nav_link">
                <fa-icon [icon]="myIconCasa" class="color_light"></fa-icon>
                <span jhiTranslate="global.menu.home">Home</span>
              </a>
            </li>
            <!-- Entidades -->
            <li
              *ngSwitchCase="true"
              ngbDropdown
              class="nav-item dropdown pointer mt-1"
              display="dynamic"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <!-- <a class="nav-link" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity" class="nav_link">
                <fa-icon icon="th-list" class="color_light"></fa-icon>
                <span jhiTranslate="global.menu.entities.main" class="nav_name">Entities</span>
              </a> -->
              <a
                href="javascript:void(0);"
                id="entity-menu"
                data-cy="entity"
                class="nav_link dropdown-toggle"
                (click)="collapseSideBar()"
                [attr.aria-expanded]="!this.isCollapsed"
                aria-controls="collapseEntidades"
              >
                <fa-icon [icon]="myIconMas" class="color_light"></fa-icon>
                <span jhiTranslate="global.menu.entities.main" class="nav_name">Entities</span>
              </a>
              <ul
                id="collapseEntidades"
                class="collapse list-group custom-collapse"
                [ngbCollapse]="this.isCollapsed"
                aria-labelledby="entity-menu"
              >
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="instalacion"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="collapseSideBar()"
                  >
                    <fa-icon [icon]="miIconInstalacion" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.instalacion">Instalacion</span>
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="material"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="collapseSideBar()"
                  >
                    <fa-icon [icon]="miIconMaterial" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.material">Material</span>
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="registro-material-utilizado"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="collapseSideBar()"
                  >
                    <fa-icon [icon]="miIconRegistro" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.registroMaterialUtilizadoShort">Registro Material</span>
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="cliente"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="collapseSideBar()"
                  >
                    <fa-icon [icon]="miIconoCliente" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.cliente">Cliente</span>
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="reserva"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="collapseSideBar()"
                  >
                    <fa-icon [icon]="miIconReserva" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.reserva">Reserva</span>
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="penalizacion"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="collapseSideBar()"
                  >
                    <fa-icon [icon]="miIconPenalizacion" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.penalizacion">Penalizacion</span>
                  </a>
                </li>
                <!-- Administración-->
              </ul>
            </li>
            <li
              *jhiHasAnyAuthority="'ROLE_ADMIN'"
              ngbDropdown
              class="nav-item dropdown pointer mt-1"
              display="dynamic"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <!-- <a
                class="nav-link dropdown-toggle"
                ngbDropdownToggle
                href="javascript:void(0);"
                id="admin-menu"
                data-cy="adminMenu"
                class="nav_link"
              >

Hubert, [10/2/22 10:09]
<fa-icon icon="users-cog" class="color_light"></fa-icon>
                <span jhiTranslate="global.menu.admin.main">Administration</span>
              </a> -->

              <a
                href="javascript:void(0);"
                id="admin-menu"
                data-cy="adminMenu"
                class="nav_link dropdown-toggle"
                (click)="collapseAdmin()"
                [attr.aria-expanded]="!this.collapsedAdmin"
                aria-controls="collapseAdmin"
              >
                <fa-icon icon="users-cog" class="color_light"></fa-icon>
                <span jhiTranslate="global.menu.admin.main">Administration</span>
              </a>

              <ul
                id="collapseAdmin"
                class="collapse list-group custom-collapse"
                [ngbCollapse]="this.collapsedAdmin"
                aria-labelledby="admin-menu"
              >
                <li>
                  <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseAdmin()">
                    <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                  </a>
                </li>
                <!-- <li>
                  <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseAdmin()">
                    <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseAdmin()">
                    <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.health">Health</span>
                  </a>
                </li> -->
                <li>
                  <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseAdmin()">
                    <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                  </a>
                </li>
                <!-- <li>
                  <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseAdmin()">
                    <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.logs">Logs</span>
                  </a>
                </li>
                <li *ngIf="openAPIEnabled">
                  <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseAdmin()">
                    <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.apidocs">API</span>
                  </a>
                </li> -->
                <!-- Lenguajes -->
              </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer mt-1" display="dynamic" *ngIf="languages && languages.length > 1">
              <!-- <a
                class="nav-link dropdown-toggle"
                ngbDropdownToggle
                href="javascript:void(0);"
                id="languagesnavBarDropdown"
                class="nav_link"
              >
                <span>
                  <fa-icon icon="flag" class="color_light"></fa-icon>
                  <span jhiTranslate="global.menu.language">Language</span>
                </span>
              </a> -->
              <a
                href="javascript:void(0);"
                id="admin-menu"
                data-cy="adminMenu"
                class="nav_link dropdown-toggle"
                (click)="collapseLanguage()"
                [attr.aria-expanded]="!this.collapsedLanguage"
                aria-controls="collapseLanguage"
              >
                <fa-icon [icon]="miIconLenguaje" class="color_light"></fa-icon>
                <span jhiTranslate="global.menu.language">Language</span>
              </a>
              <ul
                id="collapseLanguage"
                class="collapse list-group custom-collapse"
                [ngbCollapse]="this.collapsedLanguage"
                aria-labelledby="languagesnavBarDropdown"
              >
                <li *ngFor="let language of languages">
                  <a
                    class="dropdown-item"
                    [jhiActiveMenu]="language"
                    href="javascript:void(0);"
                    (click)="changeLanguage(language); collapseNavbar()"
                    >{{ language | findLanguageFromKey }}</a
                  >
                </li>
              </ul>
            </li>

            <!-- Cuenta -->
            <li
              ngbDropdown
              class="nav-item dropdown pointer mt-1"
              display="dynamic"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <!-- <a
                class="nav-link dropdown-toggle"
                ngbDropdownToggle
                href="javascript:void(0);"
                id="account-menu"
                data-cy="accountMenu"
                class="nav_link"
              >
                <span *ngIf="!account?.imageUrl">
                  <fa-icon icon="user" class="color_light"></fa-icon>
                  <span jhiTranslate="global.menu.account.main">Account</span>
                </span>
                <span *ngIf="account?.imageUrl">
                  <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
                </span>
              </a> -->
              <a
                href="javascript:void(0);"
                id="admin-menu"
                data-cy="adminMenu"
                class="nav_link dropdown-toggle"
                (click)="collapseAccount()"
                [attr.aria-expanded]="!this.collapsedAccount"
                aria-controls="collapseLanguage"
              >
                <span *ngIf="!account?.imageUrl">
                  <fa-icon icon="user" class="color_light"></fa-icon>
                  <span jhiTranslate="global.menu.account.main">Account</span>
                </span>
                <span *ngIf="account?.imageUrl">
                  <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
                </span>
              </a>

              <ul
                id="collapseAccount"
                class="collapse list-group custom-collapse"
                [ngbCollapse]="this.collapsedAccount"
                aria-labelledby="account-menu"
              >
                <li *ngSwitchCase="true">
                  <a
                    class="dropdown-item"
                    routerLink="account/settings"
                    routerLinkActive="active"
                    (click)="collapseNavbar()"
                    data-cy="settings"
                  >
                    <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.settings">Settings</span>
                  </a>
                </li>
                <li *ngSwitchCase="true">
                  <a
                    class="dropdown-item"
                    routerLink="account/password"
                    routerLinkActive="active"
                    (click)="collapseNavbar()"
                    data-cy="passwordItem"
                  >
                    <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.password">Password</span>
                  </a>
                </li>
                <li *ngSwitchCase="true">
                  <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                    <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.logout">Sign out</span>
                  </a>
                </li>
                <li *ngSwitchCase="false">
                  <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                    <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.login">Sign in</span>
                  </a>
                </li>
                <li *ngSwitchCase="false">
                  <a
                    class="dropdown-item"
                    routerLink="account/register"
                    routerLinkActive="active"
                    (click)="collapseNavbar()"
                    data-cy="register"
                  >
                    <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.register">Register</span>
                  </a>
                </li>
              </ul>
            </li>
          </div>
        </ul>
      </ul>
    </nav>
  </div>
</body>
