@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.custom-collapse a {
  color: white;
}

.custom-collapse a:hover {
  color: #111f4b;
  background-color: #b42d2d;
}

.custom-collapse .dropdown-item.active {
  background-color: #b42d2d;
}

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $dark;
  }
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
  a.nav-link {
    font-weight: 400;
    padding: 0;
  }
}

.logo-img {
  height: 100px;
  width: 150px;
  display: inline-block;
  vertical-align: auto;
  background: url('../../../content/images/MELIT_Logotipo_2020-02-removebg-preview\ \(1\).png') no-repeat center center;
  background-size: contain;
  box-sizing: border-box;
  padding: var(--padding);
  margin: 0 auto;
}

.body-expanded {
  margin-left: var(--width);
}

::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 3rem 0 0 0;
  padding: 0 1rem;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  transition: 0.5s;
}

a {
  text-decoration: none;
}

.icon_color_white {
  color: white;
  font-size: 20px;
}

.color_light {
  color: rgb(255, 255, 255);
}

.icon_intervencion {
  color: rgba(230, 230, 230, 0.8);
  font-size: 15px;
}

.home_icon_size {
  font-size: 18px;
}

.header_img {
  width: fit-content;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

/* Atributos Navegación */

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 200px;
  height: 100vh;
  background-color: #d34d4d;
  // padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: 100;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav_logo {
  margin-bottom: 2rem;
}

.nav_link {
  position: relative;
  color: #ffffff;
  margin-bottom: 0.8rem;
  transition: 0.3s;
}

.nav_link:hover {
  color: #111f4b;
}

.icon_account_padding {
  padding: 0 0.8rem 0 0;
}

.nav_icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.body-pd {
  padding-left: calc(68px + 1rem);
}

.active {
  color: #f7f6fb;
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #f7f6fb;
}

.height-100 {
  height: 100vh;
}

@media screen and (min-width: 300px) {
  body {
    margin-left: 3em;
    padding-left: 0;
  }
  .header {
    height: calc(3rem + 1rem);
    padding: 0 2rem 0 calc(68px + 2rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    // padding: 1rem 1rem 0 0;
  }
  .show {
    width: calc(68px + 156px);
  }
  .body-pd {
    padding-left: calc(68px + 188px);
  }
}

/*@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

 ==========================================================================
Navbar
==========================================================================

.navbar-version {
    font-size: 0.95em;
    color: $navbar-dark-color;
}

.profile-image {
    height: 1.75em;
    width: 1.75em;
}

.navbar {
    padding: 0.2rem 1rem;
    ul.navbar-nav {
        .nav-item {
            margin-left: 0.5em;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
}


/* ==========================================================================
Logo styles
==========================================================================

.logo-img {
    height: 45px;
    width: 45px;
    display: inline-block;
    vertical-align: middle;
    background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
    background-size: contain;
}*/
