<div>
  <h2 id="page-heading" data-cy="RegistroMaterialUtilizadoHeading">
    <span jhiTranslate="proyectApp.registroMaterialUtilizado.home.title">Registro Material Utilizados</span>

    <div class="align-self-start">
      <div class="input-group-text">
        <input
          type="text"
          placeholder="Introduce un modelo..."
          class="form-control py-2 border-right-0 border"
          name="modelo"
          [(ngModel)]="filtroBusqueda"
          (ngModelChange)="searchByFilter()"
        />
        <!-- <button type="submit">Enviar</button> -->
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="proyectApp.registroMaterialUtilizado.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-registro-material-utilizado"
        [routerLink]="['/registro-material-utilizado/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="proyectApp.registroMaterialUtilizado.home.createLabel"> Create a new Registro Material Utilizado </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="registroMaterialUtilizados?.length === 0">
    <span jhiTranslate="proyectApp.registroMaterialUtilizado.home.notFound">No registroMaterialUtilizados found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="registroMaterialUtilizados && registroMaterialUtilizados.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nombre">
            <span jhiTranslate="proyectApp.registroMaterialUtilizado.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cantidad">
            <span jhiTranslate="proyectApp.registroMaterialUtilizado.cantidad">Cantidad</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fecha">
            <span jhiTranslate="proyectApp.registroMaterialUtilizado.fecha">Fecha</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="reserva.id">
            <span jhiTranslate="proyectApp.registroMaterialUtilizado.reserva">Reserva</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="material.id">
            <span jhiTranslate="proyectApp.registroMaterialUtilizado.material">Material</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registroMaterialUtilizado of registroMaterialUtilizados; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/registro-material-utilizado', registroMaterialUtilizado.id, 'view']">{{ registroMaterialUtilizado.id }}</a>
          </td>
          <td>{{ registroMaterialUtilizado.nombre }}</td>
          <td>{{ registroMaterialUtilizado.cantidad }}</td>
          <td>{{ registroMaterialUtilizado.fecha | formatMediumDate }}</td>
          <td>
            <div *ngIf="registroMaterialUtilizado.reserva">
              <a [routerLink]="['/reserva', registroMaterialUtilizado.reserva?.id, 'view']">{{ registroMaterialUtilizado.reserva?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="registroMaterialUtilizado.material">
              <a [routerLink]="['/material', registroMaterialUtilizado.material?.id, 'view']">{{
                registroMaterialUtilizado.material?.nombre
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/registro-material-utilizado', registroMaterialUtilizado.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/registro-material-utilizado', registroMaterialUtilizado.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(registroMaterialUtilizado)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="registroMaterialUtilizados && registroMaterialUtilizados.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
