.logo-img {
  height: 300px;
  width: 300px;
  margin: auto;
  background: url('../../../webapp/content/images/MELIT_Logotipo_2020-02-removebg-preview\ \(1\).png') no-repeat center center;
  background-size: contain;
}
