<!-- Página principal-->

<div class="row">
  <div class="col-xl-3">
    <div class="card" style="width: 18rem">
      <div class="img" alt="Pista de Tenis"></div>
      <div class="card-body">
        <h5 class="card-title">Pista de Tennis en mantenimiento</h5>
        <p class="card-text">Mantenimiento cambio de red, fecha aprox 9 Mayo.</p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a
            class="btn btn-primary"
            routerLink="instalacion"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            Instalación</a
          >
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="img2" alt="Pista de Fútbol Sala"></div>
      <div class="card-body">
        <h5 class="card-title">Pista Fútbol sala en mantenimiento</h5>
        <p class="card-text">Matenimiento cambio de porteria, fecha aprox 15 Julio.</p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a
            class="btn btn-primary"
            routerLink="instalacion"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
            >Instalación</a
          >
        </div>
      </div>
    </div>
  </div>
  <!--Título-->
  <div class="col-xl-9">
    <h1 class="display-4">Polideportivo Melit</h1>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a
        ><span jhiTranslate="global.messages.info.authenticated.suffix"
          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
      </div>
    </div>

    <!--Tabla Reservas-->

    <div class="card">
      <div class="card-header card-header-warning">
        <h1 class="card-title">Reservas realizadas</h1>
        <p class="card-category">Reservas confirmadas para el dia de hoy.</p>
      </div>
      <div class="card-body table-responsive">
        <table *ngIf="this.reservaSharedCollection.length != 0" class="table table-striped table-hover">
          <thead class="table-dark">
            <th>ID</th>
            <th>Nombre</th>
            <th>Instalación</th>
            <th>Hora</th>
          </thead>
          <tbody>
            <tr *ngFor="let reserva of this.reservaSharedCollection">
              <td>{{ reserva.id }}</td>
              <td>{{ reserva.cliente?.nombre }}</td>
              <td>{{ reserva.instalacion?.nombre }}</td>
              <td>{{ formatDate(reserva.fechaInicio!) }}-{{ formatDate(reserva.fechaFin!) }}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="this.reservaSharedCollection.length == 0">
          <p>No hay ninguna reserva confirmada para el dia de hoy</p>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a
          class="btn btn-primary m-1"
          routerLink="reserva"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="collapseNavbar()"
          >Ver más reservas</a
        >
      </div>
    </div>
  </div>
</div>
