/* ==========================================================================
Imagenes principales
========================================================================== */

// }
.img {
  height: 210px;
  width: 288px;
  background: url('../../../../main/webapp/content/images/tenis1 (1).jpg') no-repeat center center;
  background-size: contain;
}

.img2 {
  height: 150px;
  width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url('../../../../main/webapp/content/images/UB_sala8142.jpg') no-repeat center center;
  background-size: contain;
}
