<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="instalacion">
      <h2 data-cy="instalacionDetailsHeading"><span jhiTranslate="proyectApp.instalacion.detail.title">Instalacion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ instalacion.id }}</span>
        </dd>
        <dt><span jhiTranslate="proyectApp.instalacion.nombre">Nombre</span></dt>
        <dd>
          <span>{{ instalacion.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="proyectApp.instalacion.precioPorHora">Precio Por Hora</span></dt>
        <dd>
          <span>{{ instalacion.precioPorHora }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/instalacion', instalacion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
