<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-material-heading" data-cy="MaterialCreateUpdateHeading" jhiTranslate="proyectApp.material.home.createOrEditLabel">
        Create or edit a Material
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.material.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>
        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <div class="form-group">
            <label class="form-control-label" jhiTranslate="proyectApp.material.cantidadReservada" for="field_cantidadReservada"
              >Cantidad Reservada</label
            >
            <input
              type="number"
              class="form-control"
              name="cantidadReservada"
              id="field_cantidadReservada"
              data-cy="cantidadReservada"
              formControlName="cantidadReservada"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.material.cantidadDisponible" for="field_cantidadDisponible"
            >Cantidad Disponible</label
          >
          <input
            type="number"
            class="form-control"
            name="cantidadDisponible"
            id="field_cantidadDisponible"
            data-cy="cantidadDisponible"
            formControlName="cantidadDisponible"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.material.instalacion" for="field_instalacion">Instalacion</label>
          <select class="form-control" id="field_instalacion" data-cy="instalacion" name="instalacion" formControlName="instalacion">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                instalacionOption.nombre === editForm.get('instalacion')!.value?.nombre
                  ? editForm.get('instalacion')!.value
                  : instalacionOption
              "
              *ngFor="let instalacionOption of instalacionsSharedCollection; trackBy: trackInstalacionById"
            >
              {{ instalacionOption.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
