<div>
  <h2 id="page-heading" data-cy="PenalizacionHeading">
    <span jhiTranslate="proyectApp.penalizacion.home.title">Penalizacions</span>

    <div class="align-self-start">
      <div class="input-group-text">
        <input
          type="text"
          placeholder="Introduce un modelo..."
          class="form-control py-2 border-right-0 border"
          name="modelo"
          [(ngModel)]="filtroBusqueda"
          (ngModelChange)="searchByFilter()"
        />
        <!-- <button type="submit">Enviar</button> -->
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="proyectApp.penalizacion.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-penalizacion"
        [routerLink]="['/penalizacion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="proyectApp.penalizacion.home.createLabel"> Create a new Penalizacion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="penalizacions?.length === 0">
    <span jhiTranslate="proyectApp.penalizacion.home.notFound">No penalizacions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="penalizacions && penalizacions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="motivo">
            <span jhiTranslate="proyectApp.penalizacion.motivo">Motivo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="totalAPagar">
            <span jhiTranslate="proyectApp.penalizacion.totalAPagar">Total A Pagar</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cliente.id">
            <span jhiTranslate="proyectApp.penalizacion.cliente">Cliente</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let penalizacion of penalizacions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/penalizacion', penalizacion.id, 'view']">{{ penalizacion.id }}</a>
          </td>
          <td>{{ penalizacion.motivo }}</td>
          <td>{{ penalizacion.totalAPagar }}</td>
          <td>
            <div *ngIf="penalizacion.cliente">
              <a [routerLink]="['/cliente', penalizacion.cliente?.id, 'view']">{{ penalizacion.cliente?.nombre }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/penalizacion', penalizacion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/penalizacion', penalizacion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(penalizacion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="penalizacions && penalizacions.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
